In [1]:
pip install lightfm

Requirement already satisfied: lightfm in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (1.16)
Requirement already satisfied: scipy>=0.17.0 in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from lightfm) (1.6.2)
Requirement already satisfied: requests in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from lightfm) (2.25.1)
Requirement already satisfied: numpy in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from lightfm) (1.20.1)
Requirement already satisfied: scikit-learn in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from lightfm) (0.24.1)
Requirement already satisfied: idna<3,>=2.5 in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from requests->lightfm) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from requests->lightfm) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from requests->lightfm) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from requests->lightfm) (4.0.0)
Requirement already satisfied: joblib>=0.11 in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->lightfm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->lightfm) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

from lightfm import LightFM
from lightfm.evaluation import precision_at_k, recall_at_k

# Функции из 1-ого вебинара
import os, sys

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
# from src.metrics import precision_at_k, recall_at_k
from src.utils import prefilter_items
from src.metrics import precision_at_k, recall_at_k

/Users/annasmejoukha/opt/anaconda3/lib/python3.8/site-packages/lightfm/_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [27]:
import lightfm.evaluation
pr = lightfm.evaluation.precision_at_k

In [3]:
data = pd.read_csv('retail_train.csv')
item_features = pd.read_csv('product.csv')
user_features = pd.read_csv('hh_demographic.csv')

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

# train test split
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [4]:
item_features.head(2)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [5]:
user_features.head(2)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,user_id
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7

In [6]:
user_features['age_desc'].unique()

array(['65+', '45-54', '25-34', '35-44', '19-24', '55-64'], dtype=object)

In [7]:
user_features['marital_status_code'].unique()

array(['A', 'U', 'B'], dtype=object)

In [8]:
user_features['household_size_desc'].unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

In [9]:
user_features['income_desc'].unique()

array(['35-49K', '50-74K', '25-34K', '75-99K', 'Under 15K', '100-124K',
       '15-24K', '125-149K', '150-174K', '250K+', '175-199K', '200-249K'],
      dtype=object)

## 1. Filter items

In [10]:
n_items_before = data_train['item_id'].nunique()

data_train = prefilter_items(data_train)

n_items_after = data_train['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

Decreased # items from 86865 to 86865

In [11]:
data_test = prefilter_items(data_test)

In [30]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

## 2.Prepare data set

In [31]:
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробовать другие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(2)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
data_test = data_test[data_test['item_id'].isin(data_train['item_id'].unique())]
test_user_item_matrix = pd.pivot_table(data_test, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробовать другие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

test_user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit
sparse_user_item_test = csr_matrix(test_user_item_matrix).tocsr()

In [33]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

## 3.Prepare user and item features

In [34]:
user_feat = pd.DataFrame(user_item_matrix.index)
user_feat = user_feat.merge(user_features, on='user_id', how='left')
user_feat.set_index('user_id', inplace=True)

item_feat = pd.DataFrame(user_item_matrix.columns)
item_feat = item_feat.merge(item_features, on='item_id', how='left')
item_feat.set_index('item_id', inplace=True)

user_feat.head(2)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc
user_id,,,,,,,
1,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
user_feat_lightfm = pd.get_dummies(user_feat, columns=user_feat.columns.tolist())
item_feat_lightfm = pd.get_dummies(item_feat, columns=item_feat.columns.tolist())

In [36]:
model = LightFM(no_components=30,
                loss='bpr', # 'warp'
                learning_rate=0.05, 
                item_alpha=0.1, user_alpha=0.1, 
                random_state=42)

model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=15, 
          num_threads=4)

In [37]:
user_emb = model.get_user_representations(features=csr_matrix(user_feat_lightfm.values).tocsr())

In [38]:
user_emb[0]  # biases

array([-55.451427,   0.      ,   0.      , ..., -61.16907 , -41.895676,
         0.      ], dtype=float32)

In [39]:
user_emb[0].shape

(2499,)

In [40]:
user_emb[1]  # embeddings

array([[-9.2635746e-05, -1.5210469e-05,  1.2548381e-04, ...,
         1.7314742e-06, -2.3968368e-04, -1.9292248e-04],
       [ 0.0000000e+00,  0.0000000e+00,  0.0000000e+00, ...,
         0.0000000e+00,  0.0000000e+00,  0.0000000e+00],
       [ 0.0000000e+00,  0.0000000e+00,  0.0000000e+00, ...,
         0.0000000e+00,  0.0000000e+00,  0.0000000e+00],
       ...,
       [-2.1625747e-04,  1.1965273e-04,  3.9904835e-04, ...,
         4.8254933e-05, -4.3428480e-04,  2.6453483e-05],
       [-1.2847371e-04, -8.5299413e-05, -3.6607790e-04, ...,
        -2.1066604e-04, -4.5906170e-04,  2.0843917e-04],
       [ 0.0000000e+00,  0.0000000e+00,  0.0000000e+00, ...,
         0.0000000e+00,  0.0000000e+00,  0.0000000e+00]], dtype=float32)

In [41]:
user_emb[1].shape

(2499, 30)

In [42]:
item_emb = model.get_item_representations(features=csr_matrix(item_feat_lightfm.values).tocsr())

In [43]:
item_emb[0].shape

(5001,)

In [44]:
item_emb[1].shape

(5001, 30)

In [45]:
train_precision = pr(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

train_precision

0.22593041

In [48]:
#????
test_precision = pr(model, sparse_user_item_test, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

In [49]:
#????
test_precision

0.22593041

In [51]:
test_item_ids = np.arange(len(itemids))

predictions = model.predict(user_ids=6, item_ids=test_item_ids,
                            user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                            item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                            num_threads=4)

In [52]:
#predictions
np.sort(predictions)[::-1]

array([-59.544395, -71.27443 , -73.09852 , ..., -86.808685, -86.808685,
       -87.597435], dtype=float32)

In [53]:
model = LightFM(no_components=30,
                loss='warp', # 'warp' 'bpr'
                learning_rate=0.05, 
                item_alpha=0.1, user_alpha=0.1, 
                random_state=42)

model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=15, 
          num_threads=4)

In [54]:
train_precision = pr(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()
train_precision

0.43889558

In [55]:
%%time
no_components_list = [20, 30, 50, 100] # уменьшение признаков товаров
loss_list = ['bpr', 'warp']
item_alpha_list = [0.05, 0.1] 
user_alpha_list = [0.05, 0.1]
params = []


for components in no_components_list:
    for loss in loss_list:
        for item_alpha in item_alpha_list:
            for user_alpha in user_alpha_list:
                
                
                model = LightFM(no_components=components,
                                loss=loss,
                                learning_rate=0.05,
                                item_alpha=item_alpha, 
                                user_alpha=user_alpha,
                                random_state=42)
                
                model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
                          sample_weight=coo_matrix(user_item_matrix),  
                          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                          epochs=15, num_threads=4)
                precision = pr(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()
                
                params_row = []
                params_row.append([components, loss, item_alpha, user_alpha, precision])
                params.append(params_row)

CPU times: user 14min 39s, sys: 1.17 s, total: 14min 40s
Wall time: 14min 40s

In [56]:
for i in sorted(params, key=lambda x: x[0][4], reverse=True):
    
    print(f'no_comp: {i[0][0]}, loss: {i[0][1]}, item_a: {i[0][2]}, user_a: {i[0][3]}, precision: {i[0][4]}')

no_comp: 20, loss: warp, item_a: 0.05, user_a: 0.05, precision: 0.5335735082626343
no_comp: 20, loss: warp, item_a: 0.05, user_a: 0.1, precision: 0.5335735082626343
no_comp: 20, loss: warp, item_a: 0.1, user_a: 0.1, precision: 0.5335735082626343
no_comp: 100, loss: warp, item_a: 0.1, user_a: 0.05, precision: 0.5335735082626343
no_comp: 30, loss: warp, item_a: 0.1, user_a: 0.05, precision: 0.516846776008606
no_comp: 50, loss: warp, item_a: 0.05, user_a: 0.05, precision: 0.516846776008606
no_comp: 50, loss: warp, item_a: 0.1, user_a: 0.1, precision: 0.516846776008606
no_comp: 20, loss: warp, item_a: 0.1, user_a: 0.05, precision: 0.4813125431537628
no_comp: 30, loss: warp, item_a: 0.05, user_a: 0.1, precision: 0.4803521931171417
no_comp: 100, loss: warp, item_a: 0.05, user_a: 0.1, precision: 0.46226492524147034
no_comp: 100, loss: warp, item_a: 0.1, user_a: 0.1, precision: 0.45562222599983215
no_comp: 50, loss: warp, item_a: 0.05, user_a: 0.1, precision: 0.4537014961242676
no_comp: 50, loss: warp, item_a: 0.1, user_a: 0.05, precision: 0.4492197334766388
no_comp: 100, loss: warp, item_a: 0.05, user_a: 0.05, precision: 0.43993598222732544
no_comp: 30, loss: warp, item_a: 0.05, user_a: 0.05, precision: 0.438895583152771
no_comp: 30, loss: warp, item_a: 0.1, user_a: 0.1, precision: 0.438895583152771
no_comp: 30, loss: bpr, item_a: 0.05, user_a: 0.1, precision: 0.3722289204597473
no_comp: 30, loss: bpr, item_a: 0.05, user_a: 0.05, precision: 0.36622652411460876
no_comp: 20, loss: bpr, item_a: 0.1, user_a: 0.05, precision: 0.3552621304988861
no_comp: 50, loss: bpr, item_a: 0.05, user_a: 0.05, precision: 0.33245301246643066
no_comp: 20, loss: bpr, item_a: 0.05, user_a: 0.1, precision: 0.2572229206562042
no_comp: 20, loss: bpr, item_a: 0.1, user_a: 0.1, precision: 0.2554622292518616
no_comp: 100, loss: bpr, item_a: 0.05, user_a: 0.1, precision: 0.2521008551120758
no_comp: 20, loss: bpr, item_a: 0.05, user_a: 0.05, precision: 0.2504201829433441
no_comp: 100, loss: bpr, item_a: 0.05, user_a: 0.05, precision: 0.24937978386878967
no_comp: 50, loss: bpr, item_a: 0.05, user_a: 0.1, precision: 0.24865947663784027
no_comp: 30, loss: bpr, item_a: 0.1, user_a: 0.1, precision: 0.22593040764331818
no_comp: 100, loss: bpr, item_a: 0.1, user_a: 0.1, precision: 0.22537018358707428
no_comp: 50, loss: bpr, item_a: 0.1, user_a: 0.05, precision: 0.22296921908855438
no_comp: 30, loss: bpr, item_a: 0.1, user_a: 0.05, precision: 0.22088837623596191
no_comp: 50, loss: bpr, item_a: 0.1, user_a: 0.1, precision: 0.2100040167570114
no_comp: 100, loss: bpr, item_a: 0.1, user_a: 0.05, precision: 0.1459784060716629